@import 'mixins.less';

@import 'arnastofnun-bootstrap.less';

@arnastofnun-red: #002AB3;

@font-face {
	font-family: 'Lido STF';
	font-weight: 400;
	src:  url("lido/Lido-Regular.woff");
}

@font-face {
	font-family: 'Lido STF';
	font-weight: 700;
	src:  url("lido/Lido-Bold.woff");
}

@font-face {
	font-family: 'Lido STF';
	font-style: italic;
	font-weight: 400;
	src:  url("lido/Lido-Italic.woff");
}

@font-face {
	font-family: 'Lido STF';
	font-weight: 700;
	font-style: italic;
	src:  url("lido/Lido-BoldItalic.woff");
}

@font-face {
	font-family: 'Lido STF';
	font-weight: 500;;
	src:  url("lido/Lido-Medium.woff");
}

@font-face {
	font-family: 'Lido STF';
	font-weight: 500;
	font-style: italic;
	src:  url("lido/Lido-MediumItalic.woff");
}

html, body {
	height: 100%;

	padding: 0;
	margin: 0;

	@media screen and (max-width: @mobile-width) {
		overflow-x: hidden;
	}
}

body {
	background: #fff;
}

.header {
	@media screen and (min-width: 768px) {
		background-image: url('../img/kort-haus.png');
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.container {
		position: relative;
	}

	.logo-vigdis {

		@media screen and (min-width: 1000px) {
			display: block;

			position: absolute;

			right: 140px;
			top: 0;
		}

		img {
			max-width: 230px;

			@media screen and (max-width: 1000px) {
				max-width: 200px;

				margin-top: 20px;
			}
		}
	}
}

.app-wrapper {
	background-color: @arnastofnun-gray;

	>.container {
		margin-top: 0;

		>.row {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.ofl-ofl {
	color: @arnastofnun-orange;
}

.ofl-gender {
	color: @arnastofnun-orange;
}

.button-link {
	padding-left: 22px;

	background-size: 14px 14px;
	background-position: left;
	background-repeat: no-repeat;

	text-decoration: underline;

	cursor: pointer;
}

.link-external {
	.button-link();

	background-image: url('../img/icon-external-link.png');
}

.link-play {
	.button-link();

	background-image: url('../img/icon-play.png');
}

.btn {
	&.btn-primary {
		padding: 0 25px;
		font-size: 0.8rem;

		font-weight: bold;
		line-height: 36px;

		box-shadow: 0 0px 0px #00000000;
		border-radius: .25rem;

		background: @arnastofnun-red;

		.transition(all 300ms ease-in-out);

		&:hover {
			box-shadow: 0 2px 5px #0000005e;
		}
	}
}

input, textarea {
	border-radius: .25rem !important;
}

.search-container {
	position: sticky;

	top: 0;
	left: 0;
	right: 0;

	padding: 45px 20px 40px 20px;

	background: @arnastofnun-gray;

	box-shadow: 0 0 0;

	color: #fff;

	z-index: 10;

	.transition(all 100ms ease-in-out);

	> .container {
		//max-width: 800px !important;
	}

	.row {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media screen and (max-width: @mobile-width) {
		padding: 20px 20px 20px 0px;

		box-shadow: 0 2px 6px #00000040;
	}

	&.sticky {
		padding: 10px 20px 10px 20px;

		box-shadow: 0 2px 6px #00000040;
	}

	.container {
		margin-top: 0;

		//max-width: 800px !important;
	}

	input.form-control {
		&.malid-style {
			background: transparent;

			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-bottom: 1px solid #000;

			color: #000;
		}

		&:focus {
			outline: none;

			box-shadow: none;
		}
	}


	.search-helpers {
		position: absolute;

		left: 15px;

		margin-top: 5px;

		color: #9a9a9a;
		font-size: 0.8rem;

		z-index: 100;

		@media screen and (max-width: @mobile-width) {
			display: none;
		}

		a {
			padding: 0 5px;

			text-decoration: underline;

			cursor: pointer;
		}

		.sticky& {
		}

		.autocomplete-open & {
			top: 45px;
			left: 30px;

			@media screen and (max-width: @mobile-width) {
				display: block;

				top: 38px;
				left: -25px;
			}
		}
	}

	.lang-menu {
		margin-bottom: 15px;

		a {
			padding: 0.5rem 1rem;
			margin-right: 5px;

			background: #ffffff9c;

			color: #000;
			border-radius: 0.25rem;
			text-decoration: none;
			font-weight: bold;
			font-size: 0.9rem;
			font-weight: normal;

			.transition(all 200ms ease-in-out);

			img {
				display: none;
			}

			&:hover {
				background: #ffffffa1;

				color: @arnastofnun-red;
			}

			&.active {
				background: @arnastofnun-red;
				box-shadow: 0 1px 2px #00000057;

				color: #fff;

				img {
					display: initial;

					box-shadow: 0px 0px 0px 2px #ffffff;
				}
			}
		}
	}
}

.link-list a {
	display: block;
}

.index-column {
	ul.nav-pills {
		@media screen and (max-width: @mobile-width) {
			margin-top: 10px;

			flex-wrap: nowrap;
			flex-direction: row !important;

			overflow-x: scroll;

			white-space: nowrap;
		}

		li.nav-item {
			a {
				color: #666;

				&.active {
					color: #fff;

					.ofl-ofl {
						color: lighten(@arnastofnun-orange, 40%);
					}

					.ofl-gender {
						color: lighten(@arnastofnun-orange, 40%);
					}
				}
			}
		}
	}
}

.index-pagination {
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;

	padding: 20px 0;

	background-color: @arnastofnun-gray;

	border-top: 1px solid rgba(0,0,0,.125);

	text-align: center;

	z-index: 10;

	.pagination {
	}

	@media screen and (max-width: @mobile-width) {
		left: 0;
		right: 0;

		padding: 10px;

	}
}

.dictionary-list {
	.list-group-item {
		padding: 0.5rem 1.25rem;
		margin-bottom: 0;

		&:not(:first-child) {
			border-top: 0;
		}

		&:hover {
			background: lighten(@arnastofnun-gray, 2%);
		}

		a {
			text-decoration: none;

			&:hover {
				border-bottom: 1px solid @arnastofnun-red;
			}
		}

		.fletta {
			font-size: 1.2rem;

			strong {
				color: @arnastofnun-red;
			}
		}

		.results-example {
			display: inline;

			margin-left: 20px;

			&.ordmynd {
				margin-right: 20px !important;

				color: #666;
				font-size: 0.8rem;
			}

			strong {
				color: @arnastofnun-red;
				font-weight: 500;
			}

			.example-item {
				display: inline;

				margin-right: 20px;

				color: @arnastofnun-red;
				font-style: italic;

				strong {
					font-weight: 600;
				}
			}

			.lang-item {
				display: inline-block;

				margin-right: 20px;
			}

			.comma-list {
				strong ~ strong:before {
					content: ', ';
				}
			}
		}
	}
}

.dictionary-entry {
	td:not(:first-child) {
		padding-left: 15px;
	}

	td {
		.results-example {
			margin-left: 0 !important;
		}
	}

	&.card {
		padding-left: 15px;
	}

	.item-highlight {
		background-color: #fff8b6;

		box-shadow: 0 0 0px 5px #fff8b6;
	}

	.dict-view {
		audio {
		//	display: none;
		}

		.dict-word {
			margin-bottom: 20px;

			font-size: 1.6rem;

			.word-class {
				font-size: 1.2rem;
			}
		}

		.dict-word {

		}

		.dict-item {
			margin-bottom: 5px;

			&:not(.first-level) {
				margin-left: 15px;
			}


			hr {

			}
		}

		& > .dict-item {
			margin-left: 0 !important;
		}

		.dict-link {
			a {
				.link-external();

				color: @arnastofnun-red;
			}
		}

		.dict-framb {
			audio {
				display: none;
			}

			a {
				.link-play();

				color: @arnastofnun-red;

				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}
		}

		.dict-image {
			margin-bottom: 20px;

			.image-caption {
				font-size: 0.8rem;

				a {
					color: darken(@arnastofnun-gray, 30%);
				}
			}
		}

		.dict-fallstj {
			text-transform: uppercase;
			font-size: 0.8rem;
		}

		.dict-frumlag {
			color: @arnastofnun-orange;
		}

		.dict-notkunarsvid {
			margin-left: 15px;
		}

		.dict-merking {
			margin-bottom: 10px;

			font-style: italic;
		}

		.dict-daemi {
			margin-left: 15px;

			.daemi {
				color: @arnastofnun-red;
				font-style: italic;
			}

			.daemi-translation {
				margin-left: 15px;
			}
		}

		.dict-morfo {
			margin-left: 22px;

			font-size: 0.8rem;
		}

		.dict-section {
			//margin-left: 15px;

			>.term-item {
			//	margin-left: 0;
			}

			> .dict-jafn {
				margin-left: 15px !important;

				&.dict-jafn-inline {
					margin-left: 0 !important;
				}
			}

			span.dict-jafn.break-next + span.dict-jafn {
				display: block;

				margin-left: 15px !important;
			}

			.dict-section-num {
				//float: left;

				margin-right: 5px;

				font-weight: bold;
			}
		}

		.dict-skyring {
			display: inline;
		}

		.dict-jafn {
			.dict-notkunarsvid {
				display: inline;

				margin-left: 5px;
			}
		}

		.dict-osamband, .dict-sohaus {
			.osamband {
				color: @arnastofnun-red;
				font-weight: bold;
				font-style: italic;
			}

			.sohaus {
				font-weight: bold;
			}
		}

		.break-next + span.dict-jafn {
		}

		span.dict-jafn + span.dict-jafn {
			margin-left: 0 !important;

			&:before {
				content: ', ';
			}

			.button-flag {
				display: none;
			}

		}

		span.dict-jafn.break-next + span.dict-jafn {
			margin-left: 0;

			&:before {
				content: '';
			}

			.button-flag {
				display: inline-block;
			}

		}

		.dict-text-light {
			color: #666;

			font-size: 0.8rem;
		}

		.dict-text-lighter {
			color: #999;

			font-size: 0.7rem;
		}

		.inline-skyring {
			margin-left: 5px;
		}

		> .inline-skyring {
			display: block;

			margin-left: 0;
		}
	}
}

.button-flag {
	position: relative;

	top: -1px;

	max-width: 16px;

	margin-right: 5px;

	border-radius: 100%;
	box-shadow: 0px 0px 0px 1px #00000082;

	.transition(all 200ms ease-in-out);
}

.nav-link {
	&.active, &:hover {
		.button-flag {
			box-shadow: 0px 0px 0px 2px #fff;
		}
	}
}

.alert {
	&.alert-error {
		background-color: red;
	}

	&.alert-info {
		padding: 5px 10px;
		margin: 10px 0;

		font-size: 0.8rem;
		color: #000;

		border-radius: 3px;

		color: #505050;

		background-color: #fafafa;
		border-color: @arnastofnun-gray;
	}
}

.site-footer {
	margin-top: 0;
	padding: 20px;

	text-align: center;

	border-top: darken(@arnastofnun-gray, 10%) 1px solid;

	@media screen and (max-width: @mobile-width) {
		padding: 10px 0;
	}

	.logos {
		img {
			max-height: 70px;
			max-width: 90vw;

			margin: 0 20px 20px 20px;
		}
	}

	.footer-text {
		margin-top: 20px;

		color: lighten(#000, 50%);
		font-size: 0.8rem;
	}
}

.breadcrumb {
	display: block;
	text-align: center;
}

.fade-in-component {
	.transition(all 100ms ease-in-out);

	opacity: 1;

	&.hidden {
		opacity: 0;

		.transition-delay(0)
	}
}

.toggle-switch {
	position: relative;

	cursor: pointer;

	.label {
		display: inline-block;

		color: #727272;
		font-size: 0.8rem;
	}

	&:hover {
		.label {
			color: #444;
		}

		.switch {
			.button {
				background: lighten(#5aa7e8, 10%);
			}
		}
	}

	.switch {
		display: inline-block;

		position: relative;

		margin-left: 10px;

		width: 26px;
		height: 8px;

		background: #b2b2b2;

		box-shadow: inset 1px 1px 0px #0000001f;
		border-radius: 15px;

		.button {
			display: block;

			position: absolute;

			top: -4px;
			left: 0px;

			width: 14px;
			height: 14px;

			background: #999;

			border-radius: 100%;
			box-shadow: 1px 1px 1px #0000008f;

			.transition(all 300ms ease-in-out);

			.icon {
				display: inline-block;

				position: absolute;

				top: 3px;
				left: 5px;

				width: 5px;
				height: 7px;

				border-right: 2px solid #2071b5;
				border-bottom: 2px solid #2071b5;

				opacity: 0;

				.transform(rotate(45deg));

				.transition(all 300ms ease-in-out);
			}

			.switch-on& {
				left: 12px;

				background-color: #fff;

				.icon {
					opacity: 1;
				}
			}
		}
	}
}
